<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <h1>Free games this week</h1>

  <% games.each do |game| %>
    <a href="<%= game.link %>">
      <img alt="<%= game.name %>" src="<%= game.src %>" width="<%= game.width %>" height="<%= game.height %>">
    </a>
  <% end %>
</body>
</html>
